{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Parrainage</title>    

	<link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" >

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href= "{% static 'assets/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/' %}" padding-top="0" alt="Parrainage" ></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="{% url 'home' %}">Acceuil</a></li>
					<li><a href="about.html">A propos</a></li>
					<li><a href="contact.html">Contact</a></li>
					<!--<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>-->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
    
	<!-- Header -->
	<header id="head" style="background-image: url(../static/assets/images/esati.jpg); background-repeat: no-repeat;">
		<div class="container">
			<div class="row">
				<h1 class="text-primary">PARRAINAGE</h1>
                <h1 class="text-light">LICENCE 1 - LICENCE 2</h1>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="f1" class="text-primary">Fichier licence 1</label>
                        <input type="file" name="myfile1" class="form-control" id="f1">
                    </div>
                    <div class="form-group">
                        <label for="f2" class="text-primary">Fichier licence 2</label>
                        <input type="file" name="myfile2" class="form-control" id="f2">
                    </div>
                    <p><input class="btn btn-success btn-lg" role="button" type="submit" value="VALIDER"> <input class="btn btn-danger btn-lg" role="button" type="submit" value="ANNULER"></p>
                </form>
			</div>
		</div>
	</header>
	<!-- /Header -->

	
		


   <!--{% static '' %}--> 

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>